# Environment files
.env

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Node modules
node_modules/

# Database
*.db

# Logs
*.log

# VS Code
.vscode/

# Build folders
dist/
build/
dashboard/android/app/release/baselineProfiles/0/BizLawDashboard-1.0-release.dm
dashboard/android/app/release/baselineProfiles/1/BizLawDashboard-1.0-release.dm
dashboard/android/app/jks
